// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.h2 {
  font-style: oblique;
  font-family: cursive;
}

.h1 {
  font-family: sans-serif;
  font-style: italic;
}

.p {
  font-size: 4mm;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dives {
  background-color: pink;
  border-color: pink;
  border-radius: 15mm;
  border-color: pink;
}

.beq {
  background-color: rgb(255, 242, 244);
}

.boq {
  background-color: rgb(255, 219, 225);
}

.rodape {
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 242, 244);
}

.divao{
  background: webkit-gradient(linear, left top, right top, from(#fcdbe0), to(#ffeaea));
  background: -moz-linear-gradient(left bottom, #fcdbe0, #eeeeee);
}

.foot {
  background-color: #fcdbe0;
}