<style>

div h1, h2{
    display: block;
    background-color: LightPink;
    padding: 2em;
    background: -moz-linear-gradient(top, #FFC0CB, LightPink);
    line-height: 1.16;
    font-size: 2rem;
    color: #1C1C1C;
}

h2{
    padding-left: 5cm; 
}


body{
    background-color: -moz-linear-gradient(top, white, #F8F8FF);
}


</style>

<div>
<center><h1>Neste site você irá conhecer um pouco sobre mim, Felipe Hanniel da Silva Costa!</h1></center>

<h2>Basta clicar em 1 dos menus acima e conhecer um pouco de mim</h2>
</div>