        <style>
            .h2 {
                font-style: oblique;
                font-family: cursive;
            }

            .h1 {
                font-family: sans-serif;
                font-style: italic;
            }

            .p {
                font-size: 4mm;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            .dives {
                background-color: pink;
                border-color: pink;
                border-radius: 15mm;
                border-color: pink;
            }

            .beq {
                background-color: rgb(255, 242, 244);
            }

            .boq {
                background-color: rgb(255, 219, 225);
            }

            .rodape {
                position: absolute;
                bottom: 0;
                background-color: rgb(255, 242, 244);
            }
            
            .divao{
                background: webkit-gradient(linear, left top, right top, from(#fcdbe0), to(#ffeaea));
                background: -moz-linear-gradient(left bottom, #fcdbe0, #eeeeee);
            }

            .foot {
                background-color: #fcdbe0;
            }

        </style>
</head>

<body class="divao">
    <h1 style="color: rgb(75, 49, 22);" class="h2"><center>Este site é um site sobre mim, Felipe Hanniel da Silva Costa!</center></h1>
    <h2 style="color: rgb(75, 49, 22);" class="h2">(eu estava sem ideias para fazer um site então resolvi fazer um sobre mim mesmo XD)</h2>
<br/>
    <p class="p">Me chamo Felipe Hanniel da Silva costa, tenho 13 anos, e faço aniversário no dia 23 de maio.<br/>    Eu nasci em 2007, e nesse ano estou quase completando 14 anos de idade! estou estudando para me tornar um programador, e desenvolvedor de jogos, por isso mesmo eu criei este site!</p>
    <p class="p"><br/>Futuramente, eu planejo morar no Canadá, este é um dos meus maiores objetivos, logo após de me tornar programador, claro XD</p>
    <p style="font-size: 6mm;" class="p"><center>Enfim, este é o site, foi bem curtinho, mas foi só pra falar um pouco de mim :></center></p>
    <div class="img">
            
    </div>
</body>

<footer>
    <p style="font-family: cursive;" style="font-size: 25mm;" style="bottom: 30mm;" class="rodape" style="color: plum;" style="background-color:rgb(255, 219, 225);">&&COPY; Todos os direitos autorais de Felipe</p>
</footer>