<style>

h1{
    font-family: Graphik-Medium, "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    width: 100%;
    height: 200px;
    background-color: red;
    background: -moz-linear-gradient(top, tomato, tomato);
    line-height: 1.16;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    display: block;
    position: static;
    float: none;
    padding: 64px;
    padding-bottom: 128px;
    padding-top: 128px;
    order: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    text-align: left;
    position: relative;
    order: 1;
    align-items: flex-start;
    padding: 64px 32px;
}

p{
    font-family: cursive;
    font-size: 35px;
    line-height: 0px;
    display: block;
    text-align: left;
    position: relative;
    padding-left: 25px;
}

h2{
    font-family: "Arial";
    position: relative;
    padding: 80px;
    padding-left: 120px;
}


</style>

<div>
<center><h1>Deseja falar comigo?</h1></center>
<h2>E-mail⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀ Telefone</h2>
<p>felipehscbr@gmail.com⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀+55 15 99196-7927</p>
<div>
